body {
    background-color: rgb(223, 245, 245);
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: rgb(29, 27, 27);
    margin-left: 15px;
}
a:link {
    color: firebrick;
    text-decoration-color: rgb(228, 255, 78);
}
a:visited {
    color: mediumorchid;
    text-decoration-color: salmon ;
}
a:hover {
    font-size: larger;
    text-decoration-color: darkblue;
}